*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sign_container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.sign_container span{
    font-size: 12px;
}
.sign_container button{
    background-color: #F1CA38;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
.sign_container button:not(.hidden){
    color: #282B29;
}
.sign_container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.sign_container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.sign_container input:not([type="checkbox"]){
    padding: 10px 15px;
    width: 100%;
    outline: none;
    min-height: 40px;
    background-color: white;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #ced4da;
    box-shadow: none;
    color: #282B29;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-check .form-check-input:checked{

}
.container input:focus{
    border-color: #F1CA38;
}

.toggle-panel h1{
    font-size: 40px;
    font-weight: 600;
}
.toggle-left{
    transform: translateX(-200%);
}

.sign_container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}
form h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
    color: #2F7152;
}
.phone-input-container{
    width: 100%;
    position: relative;
    margin-block: 8px;
    border-radius: 8px;
    overflow: hidden;
}
.phone-input-container:before{
    position: absolute;
    content: "";
    height: 40.8px;
    width: 1px;
    background-color: #ced4da;
    left: 70px;
    top: 0;
}
.flag{
    height: 40px;
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    width: 70px;
    display: flex;
    align-items: center;
}
.flag img{
    width: 24px;
    margin-right: 4px;
}
.flag span{
    font-weight: 700;
    font-size: 16px;
}
input[type="tel"]{
    height: 40.8px;
    padding-left: 80px !important;
    margin-block: 0;
}
.toggle-right:before,.toggle-left:before{
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
} 
.toggle-right:before{
    content: url( " ../img/Green rec.png");
}
.toggle-right.tipper_toggle_right:before{
    content: url( " ../img/Green rec (3).png");
}
.form_text{
    position: relative;
    z-index: 10;
}
.toggle-left:before{
    content: url( " ../img/Green rec (1).png");
}
.toggle-left.tipper_toggle_left:before{
    content: url( " ../img/Green rec (2).png");
}
.sign_light{
    width: 200px;
    top: 50%;
    right: -90px;
    opacity: 0.55;
}
.sign_book{
    width: 200px;
    top: 20%;
    left: -60px;
    opacity: 0.55;
}
.outer_sign_container{
    padding-block: 100px;
}
.requirement-list li i {
    width: 20px;
    color: #ff204e;
    font-size: 1rem;
}
.password_condition, .requirement-list li span {
    font-size: 18px;
    color: #333;
}
.requirement-list {
    margin-block: 12px;
}
.requirement-list li.valid i {
    font-size: 18px;
    color: #87a922;
}
.requirement-list li.valid span {
    color: #999;
}
@media (min-width: 768px){
    .sign_container{
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 5px 15px #ccc;
        position: relative;
        overflow: hidden;
        width: 870px;
        max-width: 100%;
        min-height: 600px;
    }
    .form-container{
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
    }
    
    .sign-in{
        left: 0;
        width: 50%;
        z-index: 2;
    }
    
    .sign_container.active .sign-in{
        transform: translateX(100%);
    }
    
    .sign-up{
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
    }
    
    .container.active .sign-up{
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: move 0.6s;
    }
    
    @keyframes move{
        0%, 49.99%{
            opacity: 0;
            z-index: 1;
        }
        50%, 100%{
            opacity: 1;
            z-index: 5;
        }
    }
    .toggle-container{
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: all 0.6s ease-in-out;
        border-radius: 20px;
        z-index: 100;
    }
    
    .container.active .toggle-container{
        transform: translateX(-100%);
        border-radius: 20px;
    }
    
    .toggle{
        background-color: #335E4A;
        height: 100%;
        color: #fff;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: all 0.6s ease-in-out;
    }
    .sign_container.active .toggle{
        transform: translateX(50%);
    }
    
    .toggle-panel{
        position: absolute;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 30px;
        text-align: center;
        top: 0;
        transform: translateX(0);
        transition: all 0.6s ease-in-out;
    }
}
.outer_sign_container{
    padding-inline: 32px;
}
@media only screen and (max-width: 767px){
        .outer_sign_container{
            padding-inline: 12px;
            padding-block: 70px;
        }
        form h1{
            font-size: 24px;
        }
        .sign_container form{
            padding: 0 14px;
        }
        .toggle-panel{
            padding: 0 10px;
        }
        .sign_book, .sign_light{
            width: 124px;
        }
        .toggle-panel h1{
            font-size: 28px;
        }
        .sign_container p{
            font-size: 12px;
            margin: 10px 0;
        }
        .sign-in .form-group label, .sign-in .form-group + a, .sign_container input:not([type="checkbox"]), .flag span{
            font-size: 12px;
        }
        .sign_container input:not([type="checkbox"]){
            padding: 10px;
        }
        .phone-input-container:before{
            left: 40px;
        }
        input[type="tel"]{
            padding-left: 48px !important;
        }
        .flag img{
            width: 12px;
        }
        .flag{
            width: 40px;
        }
        .toggle-right:before, .toggle-left:before{
            display: none;
        }
        .sign-up, .sign-in{
            position: relative;
            width: 100%;
            padding-block: 32px;
            overflow: hidden;
            border-radius: 12px;
        }
        .toggle-container{
            display: none;
        }
        .sign-in{
            display: none;
        }
        .sign-in.active{
            display: block;
        }
        .form-container:not(.active){
            display: none;
        }
        .sign-up::before, .sign-in::before{
            position: absolute;
            width: 100%;
            z-index: 2;
            opacity: 0.1;
            width: 100%;
            left: 0;
            top: 0;
        }
        .sign-up::before{
            content: url( " ../img/Green rec.png");
        }
        .sign-up.tipper_sign_up:before{
            content: url( " ../img/Green rec (3).png");
        }
        .sign-in::before{
            content: url( " ../img/Green rec (1).png");
        }
        .sign-in.tipper_sign_in:before{
            content: url( " ../img/Green rec (2).png");
        }
        .sign-up:after, .sign-in::after{
            background-color: #335E4A;
            content: "";
            position: absolute;
            z-index: 1;
            width: 100%;
            left: 0;
            top: 0;
            height: 100%;
        }
        .sign-up form, .sign-in form{
            position: relative;
            z-index: 99;
        }
        .sign_container form{
            background-color: unset;
        }
        .sign-up .form-text, form h1, .sign-in .form-text, .sign-in .form-group label, .sign-in .form-group + a{
            color: #fff;
        }
        .sign_container .form-check{
            margin-bottom: 0;
        }
        .sign_container button{
            width: 100%;
        }
        .sign_container .form-text span{
            display: block;
            margin-inline: auto;
            margin-block: 8px;
        }
        .sign_container .form-text button{
            margin-top: 0;
        }
}
@media(min-width:1023px) and (max-width: 1239px){
    .sign_light, .sign_book{
        width: 90px;
    }
    .sign_book{
        left: -30px;
    }
    .sign_light{
        right: -30px;
    }
}